.bookmark-item-box {
  aspect-ratio: 1 / 1; /* Relación de aspecto 1:1 para que tengan la misma altura que anchura */
  height: 90%;
  padding: 8px;
  position: relative;
  border-radius: 20px;
}

.bookmark-item-box:hover {
  cursor: pointer;
  box-shadow: -5px 1px 28px -5px rgba(194, 187, 187, 0.13) inset;
  -webkit-box-shadow: -5px 1px 28px -5px rgba(194, 187, 187, 0.13) inset;
  -moz-box-shadow: -5px 1px 28px -5px rgba(194, 187, 187, 0.13) inset;
  background: #4f4f4f;
}

.bookmark-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.bookmark-img-container {
  aspect-ratio: 1 / 1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 4px;
}

.bookmark-img {
}
.bookmark-title {
  max-width: 130px; /* Ancho máximo de 130px (ajusta este valor según tus necesidades) */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-delete-bookmark {
  visibility: hidden;
  height: 20px;
  background: #00000000;
  border: none;
  color: #bbb;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 12px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s ease-in-out;
  margin: 4px 8px 0 0;
}

.btn-delete-bookmark:hover {
  color: #fff;
  transform: scale(1.1);
}

.bookmark-item-box:hover .btn-delete-bookmark {
  visibility: visible;
}
