@import "../../../variables.css";

.bookmarks-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 10px;
  gap: 8px;

  overflow: hidden;
  position: relative;
  z-index: 1;
  overflow-y: scroll;
  margin: 0 0;
  align-content: start; /* Alinea las filas en la parte superior */
}
.bookmarks-err-msg {
  width: 100%;
  padding: 16px;
}
#bookmarks-data-info {
  width: 100%;
}
